body {
  margin: 0;
  text-align: center;
}

main {
  padding: 10px;
}

#parent {
  justify-content: space-around;
}

.contents {
  padding: 10px 15px 10px 15px;
  margin: 20px 0 20px 0;
  border: solid 3px rgb(238, 204, 204);
}

p:nth-child(3)::first-letter {
  font-weight: bold;
  color: rgb(97, 206, 249);
}

img {
  margin: 10px 0 10px 0;
  width: 70%;
}

header {
  margin-bottom: 20px;
  background-color: rgb(244, 79, 79);
}

h1 {
  margin: 0;
  color: rgb(255, 255, 255);
}

h2 {
  font-size: 25px;
  border-bottom: dotted 3px rgb(236, 122, 122);
}

h2::before {
  content: "â—";
  color: rgb(239, 111, 139);
}

p {
  margin: 0;
  font-size: 20px;
}

a { 
  font-size: 20px;
}

header {
  margin: 0 0 20px 0;
  background-color: rgb(244, 79, 79);
  font-weight: ;
}

footer {
  background-color: rgb(244, 79, 79);
}

footer > a:link {
  color: rgb(255, 255, 255);
}

footer > a:visited {
 color: rgb(193, 234, 251);
}

footer > a:hover { 
  color: rgb(245, 178, 168);
}

@media screen and (min-width: 768px) {

  h2 {
    font-size: 30px;
  }

  p {
    font-size: 25px;
  }

  #parent {
    display: flex;
  }

  .contents {
    flex-basis: 25%;
  }

}